<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619109627/hi_quv6fz.png" class="navbar-image" />

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link active" href="#">Customers</a>
                    <a class="nav-link active" href="#">Contact Us</a>
                    <a class="nav-link active" href="#">Enterprise</a>
                    <a class="nav-link active" href="#">Pricing</a>
                    <a class="nav-link active" href="#">Login</a>
                    <a class="nav-link active" href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="first-card-container d-flex flex-row">
        <div>
            <h1 class="frist-heading">
                Education scheduling software to reduce admin work, increase efficiency, and deliver better results.
            </h1>
            <p class="first-paragraph">
                Save valuable teaching time with easy online appointment, class scheduling, student management, payments, automated reminders and web conferencing!
            </p>
            <button class="button">
                Get started now!
            </button>
            <p class="first-paragraph">
                No credit card required Our free plan is free forever
            </p>
        </div>
        <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619111553/pic_brbjcy.jpg" class="image" />
    </div>
    <div class="second-container">
        <div class="text-center">
            <h1 class="second-heading mb-3">
                academic institutions
            </h1>
            <p class="second-paragraph mb-4">
                Appointy can help businesses and institions in the education, advising and non-profit domain schedule 1:1 sessions, round -robin meetings, and group classes
            </p>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619144199/school_dixvst.jpg" class="second-image" />
                <h1 class="image-heading">
                    Schools
                </h1>
                <p class="image-paragraph">
                    Schools can make class time tables, schedule resources, organize staff & parents mettings, carrer counselling etc
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619149803/colleges_d2mow9.png" class="second-image" />
                <h1 class="image-heading">
                    universities & Colleges
                </h1>
                <p class="image-paragraph">
                    institutions can schedule academic counseling, advising sessions, applicants interview, campus tours, courses, and more
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619150292/teachers_s5lica.png" class="second-image" />
                <h1 class="image-heading">
                    Professor & Teacher
                </h1>
                <p class="image-paragraph">
                    Professors can let student book 1:1 classes, doubts clearing sessions, after school activities projects mentoring and more
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619150673/li_mipkne.png" class="second-image" />
                <h1 class="image-heading">
                    Libraries
                </h1>
                <p class="image-paragraph">
                    Public, school or university libraries can manage bookings of study rooms, computer systems, hourly reading slots, etc
                </p>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619152453/tutors_uv6sbc.png" class="second-image" />
                <h1 class="image-heading">
                    Tutors
                </h1>
                <p class="image-paragraph">
                    Tutors can schedule in-person or online classes, market their business manage students and more
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619152603/student_pkoaoc.png" class="second-image" />
                <h1 class="image-heading">
                    Students Services
                </h1>
                <p class="image-paragraph">
                    Studnets can schedule on campus tech support, repair works, admin enquries etc. with students services
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619152757/test_jhzzp0.png" class="second-image" />
                <h1 class="image-heading">
                    Test Center
                </h1>
                <p class="image-paragraph">
                    Test center can schedules seats, computers test taking time-slots and more
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619153111/event_kirsll.png" class="second-image" />
                <h1 class="image-heading">
                    Educational Events
                </h1>
                <p class="image-paragraph">
                    institutions can let attendees reserve a seat for science fair, art exhibitions, seminars, webinar, conference, etc
                </p>
            </div>
        </div>
        <div>
            <div class="text-center">
                <h1 class="third-heading">
                    All-in - one education scheduling software that helps you achieve all your academic and business goals
                </h1>
                <p class="third-paragraph pt-3 pb-5">
                    Appointy’s education software takes the friction out of your scheduling process and helps you grow your teaching business or institute while keeping students as the top priority
                </p>
            </div>
            <div class="main-box pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619156453/deliver_vrk2ji.png" class="main-image" />
                            <h1 class="connect-heading">
                                Connect with prospective students easily
                            </h1>
                            <p class="third-paragraph">
                                Admission officers can make their services easily accessible and enroll new students
                            </p>
                            
                            <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619158694/easily_daxk9m.png" class="main-image" />
                            <h1 class="connect-heading">
                                Give students more booking convenience
                            </h1>
                            <p class="third-paragraph">
                                Avoid any coordination hassles and let students easily schedule appointment & classes with you
                            </p>
                            <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619158859/jaa_z2ewuk.png" class="main-image" />
                            <h1 class="connect-heading">
                                Deliver better students experience
                            </h1>
                            <p class="third-paragraph">
                                Store important student details that you can use to plan out your advising sessions & classes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="first-card-container d-flex flex-row">
                <div>
                    <h1 class="make-heading">
                        Make it easier for studentsto find and book 1:1 career counselling and academic advising sessions
                    </h1>
                    <p class="make-paragraph">
                        Branded online booking system: create a professional, multi-lingual booking website for your university or institute. Customize it to match your brand - add a logo, services or classes you offer, staff portifolios, campus maps, etc to ensure that applicants can schedule with the right staff for them
                    </p>
                    <p class="make-paragraph">
                        Multi- channel bookings: share your booking link with students in emails, texts, brochures, etc.let them book campus tours and interviews directly from your website with Appointy’s website integration
                    </p>
                    <p class="make-paragraph">
                        Add an ‘book now’ button your institute’s Facebook and Instagram profiles to connect with new students and give them an option to book an admission assistance call instantly.
                    </p>
                </div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619161655/make_pic_jytdla.png" class="make-image" />
            </div>
        </div>
        <div>
            <div class="first-card-container d-flex flex-row">
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619163426/time_unbdbn.png" class="make-image" />
                <div>
                    <h1 class="make-heading">
                        Eliminate the scheduling back and forth to empower students to reach out whenever they need you
                    </h1>
                    <p class="make-paragraph">
                        24*7 online scheduling: students can easily find a time that works for them and book a session or sign-up for recurring classes on their own.confirmed appointments are added to your calendar so that you’re never double booked!
                    </p>
                    <p class="make-paragraph">
                        Intelligent timezone detection: Help students & applicants around the globe and ensure that everyone who wants to schedule with you can view you availability in their timezone.
                    </p>
                    <p class="make-paragraph">
                        Web conferencing: Offer students to schedule virtual courses, classes and admission counselling with Apponity’s zoom integration. Automatically send a zoom meeting or class link in scheduling notifications so thag students can join your virtual classroom with just a click!
                    </p>
                </div>
            </div>
            <div class="first-card-container d-flex flex-row">
                <div>
                    <h1 class="make-heading">
                        Peraonalize sessions based on student’s needs and elevate their experience & satisfaction
                    </h1>
                    <p class="make-paragraph">
                        Dedicated student profiles: collect important student information like contact details,classes attended, payments, etc. under student profiles. User notes to make quick remarks about weak subjects, carreer analysis, etc. to communicate progresss reports tonparents regularly
                    </p>
                    <p class="make-paragraph">
                        Intake forms: collect crucial info at the time of enrollement using our intake forms to prepare better lesson plans and consultation notes before your sessions.
                    </p>
                    <p class="make-paragraph">
                        Online Reputation Management: automatically request reviews from happy parents and students after a session. Promote these positive reviews on your social media and display them on your booking page with just a click
                    </p>
                </div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619166975/book_z7bkvr.png" class="book-image" />
            </div>
        </div>
        <div class="appointy-container">
            <div class="text-center">
                <h1 class="third-heading">
                    Appointy handles yours everyday admin so that you can focus on increasing student success
                </h1>
                <p class="third-paragraph">
                    Cost-effective education booking software that streamlines end-to-end operations, reduces no-shows, and ensure that yours staff isn't overwhelmed
                </p>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619168811/calender_rmobr3.png" class="second-image" />
                <h1 class="image-heading">
                    Calender Scheduler
                </h1>
                <p class="image-paragraph">
                    See your entire schedule at a glance with Appointy’s easy-to- use calendar with colour-coded tiles for teachers and sessions. Sync schedule with your personal or professional calendars so that you’re never double booked

                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619168969/class_xeoizn.png" class="second-image" />
                <h1 class="image-heading">
                    Class Reminders
                </h1>
                <p class="image-paragraph">
                    Send automated email and text reminder notification to students prior to a session, meeting or a clsass to ensure that they don’t miss it. Customize then add info like room number, location link,etc
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619169103/reso_bkpplx.png" class="second-image" />
                <h1 class="image-heading">
                    Resources Scheduling
                </h1>
                <p class="image-paragraph">
                    Reserve equipments, lab rooms, sports feilds, conference halls, etc. automatically when a session is booked. Save time and reduce operational costs that come with manually allocating resources
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619169151/booking_y5h1zv.png" class="second-image" />
                <h1 class="image-heading">
                    Booking Automation
                </h1>
                <p class="image-paragraph">
                    Limit number of meetings and classes you can take in a day/week so that you are not averloaded. Choose how much in advance anyone can book/ cancel, set maximum capacity for a class or session, and more
                </p>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619169235/staff_vxnvnq.png" class="second-image" />
                <h1 class="image-heading">
                    Staff Management
                </h1>
                <p class="image-paragraph">
                    Boost staff productivity and let them view & mannage thier own schedules and sick leaves using seperate staff logins. Distribute sessions across your team automatically with intelligent staff allocation
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619169593/online_yehbvx.png" class="second-image" />
                <h1 class="image-heading">
                    Online Prepayments
                </h1>
                <p class="image-paragraph">
                    Allow students to pay for your classes/ sessions when they book. Require full/ partial fee with our payment integration with stripe, square, and paypal so that you don’t lose put on last- minute cancellation
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619169712/reporting_e6coz4.png" class="second-image" />
                <h1 class="image-heading">
                    Reporting & Analystics
                </h1>
                <p class="image-paragraph">
                    Keep a track on the number of classes in a week/month ,sales, staff utilization, and more. Powerfulreporting tools help you spot and resolve operational inefficiencies and help optimize your processes
                </p>
            </div>
            <div>
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619169724/app_ed7ptl.png" class="second-image" />
                <h1 class="image-heading">
                    Scheduling & Mobile App
                </h1>
                <p class="image-paragraph">
                    Stay on top of upcoming appointments and schedule changes with Appointy’s Android & iOS mobile app. You and your staff can mannage scheduling, payments, and reminders even when you are away from the desk
                </p>
            </div>
        </div>
        <div class="appointy-container">
            <div class="text-center">
                <h1 class="third-heading">
                    Appointy integrates with the apps you already use
                </h1>
                <p class="third-paragraph">
                    Education scheduling software that integrates with popular payments apps, social media, video conferencing tools, and personal/ work calender
                </p>
            </div>
        </div>
        <div class="payment-box pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <button class="payment-button">
                            Multiple Payment Apps
                        </button>
                        <div>
                            <div class="col-12 col-md-4">
                                <button class="payment-button">
                                    personal & Work Calnder
                                </button>
                                <div>
                                    <div class="col-12 col-md-4">
                                        <button class="payment-button">
                                            Video conferencing Apps
                                        </button>
                                    </div>
                                </div>
                                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619173249/zoom_jxwcjq.png" class="use-image" />
                            </div>
                        </div>
                    </div>
                    <div class="forth-box pt-5 ">
                        <div class="text-center">
                            <h1 class="second-heading mb-3">
                                Custom online scheduling software to fit the unique needs of universities, schools and tutoring centers
                            </h1>
                            <p class="second-paragraph mb-4 pb-5">
                                We have designed tailor made scheduling software solutions for various Education institutes to hepl streamline their complex booking process
                            </p>
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-center">
                        <div>
                            <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619175007/party_nrq5uu.png" class="second-image" />
                            <h1 class="custom-heading">
                                Third-Party Integration
                            </h1>
                            <p class="custom-paragraph">
                                We build Integration with core systems that you work with every day to give you all-in-one solution
                            </p>
                        </div>
                        <div>
                            <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619175021/end_ezvzop.png" class="second-image" />
                            <h1 class="custom-heading">
                                End-to-End Branding
                            </h1>
                            <p class="custom-paragraph">
                                We offer custom-branded and white labelled solution that match your brand image
                            </p>
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619175037/custom_vw5rsm.png" class="second-image" />
                                <h1 class="custom-heading">
                                    Custom Workflows
                                </h1>
                                <p class="custom-paragraph">
                                    Our solution can be cater to any specific scheduling needs of your company
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <div>
                                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619175049/support_agf4yw.png" class="second-image" />
                                <h1 class="custom-heading">
                                    Dedicated Support
                                </h1>
                                <p class="custom-paragraph">
                                    Our support team will help on board and tarin your team, implement new features, troubleshoot, etc.
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="learn-button">
                        Learn more
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="heading">
                <br><br><br>
                <h1>23,000+ educators and institues use Appointy worldwide</h1>
                <br><br><br><br>
               
              </div>
              
              <div  class="container">
                <div class="row">
                    <div class="col-6">
                <div id="pp" class="container">
                <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619178548/ii_p5t6fd.jpg" alt="support" width="60" height="60">
             
                
                <div id="one" class="container">
                    <p>Appointy gives our students a fast and efficient way to</p>
                    <p>book their sessions. It has completely eliminated missed</p>
                    <p>appointments,human types,back-and-forth emails and</p>
                    <p>more issues like these for us. We can how control almost</p>
                    <p>every single aspect of the booking process and our admin</p>
                    <p>team has more time available to talk to students and for</p>
                    <p>other tasks. This has improved our customer satisfaction</p>
                    <p>rate. We've got so many new students with a positive</p>
                    <p>word of mouth about our business</p>
                    <br>
                    <div class="three"><p>-Owner,BeMo Academic Consulting</p></div>
                </div>
                </div>
                    </div>
                  
                <div id="two"  class="col-6">
                    <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619178548/ii_p5t6fd.jpg" alt="support" width="60" height="60">
                 
                    
                    <div id="one" class="container">
                        <p>Appointy has helped our appoinment system become</p>
                        <p>much easier and less work. We have more accurate data</p>
                        <p>on daily and sales report.And it is easier to track the</p>
                        <p>appointment status.It is very customizable and suits to</p>
                        <p>your company needs.And the customer service is</p>
                        <p>excellent!! Their live chat ready to answer your questions</p>
                        <p>within seconds</p>
                        <br><br>
                    <div class="three"><p>-Chyntia P..Counselor,Education Management </p></div>
                </div>
                    </div>
                    </div>
                    </div>
            <div>
                <br><br><br>
                <div class="text-center">
                    <h1 class="your-heading">
                        Yours peace of mind is our top priority
               
                <div class="wcu-section pt-5 pb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="wcu-card p-3 mb-3">
                                    <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619175887/super_hcr7j0.jpg" class="wcu-card-image" />
                                    <h1 class="wcu-card-title mt-3">Super Support</h1>
                                    <p class="wcu-card-description">
                                        Apointy is supported by a team of dedicated professional who are always available via email chat and phone

                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="wcu-card p-3 mb-3">
                                    <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619176001/multi_i7wieh.jpg" class="wcu-card-image" />
                                    <h1 class="wcu-card-title mt-3">Multi-Location Management</h1>
                                    <p class="wcu-card-description">
                                        Our education software caters to all types of education institutions. if you have Multiple centers and campuses Appointy allows easy management of all yours locations from a centralized admin portal
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="wcu-card p-3 mb-3">
                                    <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619176110/free_pjmxt8.jpg" class="wcu-card-image" />
                                    <h1 class="wcu-card-title mt-3"> Free Setup assistance & Easy migration</h1>
                                    <p class="wcu-card-description">
                                        With a quick onboarding and free personalized setup assistance from product experts who have onboarded sereral educators, you get started with Appointy in no time. Need to shift from you exsiting system? Just let us know. We take care of everything!
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="wcu-card p-3 mb-3">
                                    <img src="https://res.cloudinary.com/di1bauyid/image/upload/v1619176110/free_pjmxt8.jpg" class="wcu-card-image" />
                                    <h1 class="wcu-card-title mt-3"> Security</h1>
                                    <p class="wcu-card-description">
                                        We take customer data security very seriously your data is safe , backed-up on cloud, and you retain its complete ownership. our appliction is hosted on Google cloud which adheres to the highest standard of reliability ana data security
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div>
                                <h1 clas="final-heading">
                                    Try Appointy's education scheduling software.Get your free account now
                                </h1>
                                <button class="button">
                                    Sign up now!
                                </button>
                            </div>
                        </div>
                    </div>






    
  

